.ProductsGrid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    .ProductItem{
        width: 100%;
        display: flex;
        gap: 1rem;

        img{
            width: 15vw;
            height: 15vh;
            border-radius: 5px;
        }
    }

    .ProductDetails{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
}

.ReadMoreButton {
    padding: 10px 15px;
    background-color: #D89F5F;
    color: white;
    text-align: center;
    border-radius: 4px;
    text-decoration: none;
    width: 20%;
}

